# Copie para .env / variáveis da Railway
DATABASE_URL="postgresql://postgres:SENHA@HOST:PORT/railway"
NEXTAUTH_SECRET="gere-com-openssl-rand-base64-32"
NEXTAUTH_URL="https://cupom-radar-clone-production.up.railway.app"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ABACATEPAY_API_KEY=""
ABACATEPAY_WEBHOOK_SECRET=""
